<div *ngIf="isLoading" class="text-center">
  <img src="/assets/images/loading.gif" alt="loading..">
</div>
<div *ngIf=" (!movies || movies?.length==0) && !isLoading" class="text-center">
  <h2>{{'No Movies Found'}}</h2>
</div>
<div class="row"  *ngIf="!isLoading">
    <div class="card col-md-4 col-sm-6 col-xs-12" *ngFor="let movie of movies">
      <div class="card-body ">
        <div class="alert alert-primary app-clickable"  [routerLink]="['/movieDetails',movie.imdbID]">
          <h5 class="card-title">{{movie.Title}}</h5>
          <p>{{movie.Year}}</p>
          <img [src]="movie.Poster" [alt]="movie.Title" class="card-img-top">
        </div>

      </div>
    </div>
</div>

